<div ng-init="init()" ng-cloak>
<!-- <div class="sidebar">
  <div id="logo">NewsRank</div>
  <div class="menu-wrap">
    <div class="search-wrapper">
      <div class="search"><i class="fa fa-search"></i>Search or Add Feeds</div>
    </div>
    <div class="sidebar-header">MENU</div>
    <div id="link-manage-feeds" class="menu-item">
      <div class="menu-icon"><i class="fa fa-pencil-square-o"></i></div>
      <div class="menu-text" ng-click="updateUserFeeds()">Manage Feeds</div>
    </div>
    <%= link_to(destroy_user_session_path, method: :delete, class: 'menu-item') do %>
      <div class="menu-icon"><i class="fa fa-camera"></i></div>
      <div class="menu-text">Sign Out</div>
    <% end %>
  </div>
</div>
 -->

<div id="top-bar">
  <div class="box-left">
    <span id="about-link" class="bb icon"><i class="fa fa-info"></i>About</span>
  </div>
  <div class="box-middle">
    <div id="logo">NewsRank</div>
  </div>
  <div class="box-right">
    <!-- <div class="search-wrapper">
      <div class="search"><i class="fa fa-search"></i>Search or Add Feeds</div>
    </div> -->
    <span class="bb search"><i class="fa fa-search"></i>Search or Add Feeds</span>
  </div>
</div>

<div class="article-list" infinite-scroll="loadMoreTiles()">
  <ul class="scrollable">
    <li ng-repeat="tile in activeTiles">
      <a ng-href="{{tile.canonical_url}}" class="item-box" back-img="{{imgHelper(tile)}}" target="_blank">
        <div class="item-box-title">
          <span>
            <div class="title-text">{{tile.title}}</div>
            <div class="source-text">{{tile.site_url}}</div>
            <div class="age">{{toHour(tile.published)}}</div>
            <!-- <div class="age">{{tile.calculated_rank}}</div> -->
          </span>
        </div>
      </a>
    </li>
  </ul>
</div>

  <div id="bottom-bar">
    <div class="box-left">
      <%= link_to(destroy_user_session_path, method: :delete) do %><span class="bb">SIGN OUT</span><% end %>
    </div>
    <div class="box-middle">
      <i class="fa fa-cog"></i>
    </div>
    <div class="box-right">
      <span class="bb-label">SORT BY:</span>
      <span class="bb" ng-click="sortTimePublished()">TIME PUBLISHED</span>
      <span class="bb active" ng-click="sortNewsRank()">NEWS RANK</span>
    </div>
  </div>

  <div id="my-feeds" class="popup">
    <h2 class="popup-heading">Manage Feeds</h2>
    <div class="popup-content-wrapper">
      <table>
        <tr ng-repeat="feed in userFeeds">
          <td><i class="fa fa-trash-o" ng-click="deleteFeed(feed.id)"></i></td>
          <td class="search-results-title">{{feed.name}}</td>
        </tr>
      </table>
    </div>
  </div>

  <div id="my-settings" class="popup">
    <h2 class="popup-heading">My Settings</h2>
    <div class="popup-content-wrapper">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
  </div>

  <div id="add-feeds" class="popup">
    <h2 class="popup-heading">Add Feeds</h2>
    <div class="popup-content-wrapper">
      <div class="add-feed-options">
        <div class="option-box">
          <form ng-submit="addFeedFromUrl()">
            <h3>By Feed URL</h3>
            <input type="text" name="feed_URL" ng-model="newFeedUrl"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <form>
            <h3>Upload OPML</h3>
            <input type="file"></br>
            <input type="submit" value="Submit">
          </form>
        </div>
        <div class="option-box">
          <h3>Search</h3>
          <a href="#">Link to Search feeds</a>
        </div>
      </div>
    </div>
  </div>

  <div id="search-feeds" class="popup">
    <h2 class="popup-heading">Search</h2>
    <div class="popup-content-wrapper">
      <div class="search-bar-wrapper">
        <i class="fa fa-search"></i>
        <form ng-submit="search()">
          <input id="search-bar" type="text" name="query" placeholder="Search (enter keywords or a URL)" ng-model="searchTerm">
        </form>
      </div>
      <form>
        <table class="feed-wrapper">
          <tr ng-repeat="result in searchResults" ng-click="toggleResults(result)" ng-class="{ selected: result.selected }">
            <td><img ng-src="{{result.avatar}}" onError="this.onerror=null;this.src=''"></td>
            <td><span class="search-results-title">{{result.title}}</span></td>
            <td><span class="search-results-subscribers">{{result.subscribers}}</span> Subscribers</td>
            <td><span class="search-results-articles">{{toInt(result.velocity)}}</span></td>
          </tr>
        </table>
        <button class="button-subscribe" ng-click="addFromSearch(); resetAll()">Subscribe</button>
      </form>
<!--       <div class="suggestions">
        <h3>You may also like</h3>
        <div class="search-results-similar"><a href="#">First</a></div>
        <div class="search-results-similar"><a href="#">Second</a></div>
        <div class="search-results-similar"><a href="#">Third</a></div>
      </div> -->
    </div>
  </div>

  <div id="welcome-helper" class="popup">
    <h2 class="popup-heading">Welcome to NewsRank</h2>
    <div class="popup-content-wrapper">
      <h3>Get started by searching and adding topics to your stream.</h3>
      <div class="search-bar-wrapper">
        <i class="fa fa-search"></i>
        <form ng-submit="search()">
          <input id="search-bar" type="text" name="query" placeholder="Search for a website or blog you love to read" ng-model="searchTerm">
        </form>
      </div>
      
      <form>
        <table class="feed-wrapper">
          <tr ng-repeat="result in searchResults" ng-click="toggleResults(result)" ng-class="{ selected: result.selected }">
            <td><img ng-src="{{result.avatar}}" onError="this.onerror=null;this.src=''"></td>
            <td><span class="search-results-title">{{result.title}}</span></td>
            <td><span class="search-results-subscribers">{{result.subscribers}}</span> Subscribers</td>
            <td><span class="search-results-articles">{{toInt(result.velocity)}}</span></td>
          </tr>
        </table>
        <button class="button-subscribe" id="welcome-button" ng-click="addFromSearch(); resetAll()">Subscribe</button>
      </form>
      <!-- <div class="suggestions">
        <h3>Suggested Topics</h3>
        <div class="search-results-similar"><a href="#">Technology</a></div>
        <div class="search-results-similar"><a href="#">Business</a></div>
        <div class="search-results-similar"><a href="#">Design</a></div>
        <div class="search-results-similar"><a href="#">Marketing</a></div>
        <div class="search-results-similar"><a href="#">Startups</a></div>
        <div class="search-results-similar"><a href="#">Fashion</a></div>
        <div class="search-results-similar"><a href="#">Do It Yourself</a></div>
        <div class="search-results-similar"><a href="#">Cooking</a></div>
        <div class="search-results-similar"><a href="#">News</a></div>
        <div class="search-results-similar"><a href="#">Inspiration</a></div>
        <div class="search-results-similar"><a href="#">Photography</a></div>
        <div class="search-results-similar"><a href="#">Finance</a></div>
        <div class="search-results-similar"><a href="#">Gaming</a></div>
        <div class="search-results-similar"><a href="#">Film</a></div>
      </div> -->
    </div>
  </div>

  <div id="loader">
    <img src="http://www.365gr.com/images/preloader_transparent.gif">
  </div>

  <div id="about-popup" class="popup">
    <h2 class="popup-heading">About NewsRank</h2>
    <div class="popup-article-wrapper">
      <center><img src="http://i.imgur.com/FOMZGOO.jpg">
      <h3>The NewsRank Team, Dev Bootcamp Chorus Frogs 2014</h3></center>
      <div class="full-article-html">
        <p>NewsRank is a project made as a Dev Bootcamp final project. We wanted an app that would help people read their favorite blogs, easier. We used a bunch of APIs ranging from the Feedly API, Reddit, Facebook, Twitter and deployed it to Heroku! We had 6 days to build this entire site. As a challenge to the team, we wanted each team-member to dive into what they were passionate about. Britney and her passion for big-data-analytics, Alec with AngularJS, Ronald with UI/UX CSS, Kris with Tests and Queing, Andrew with Backend Rails/APIs.</p> 
        <p>The end result is something we are trully proud of. After 6 x 15-hour-days, we present to you our final DBC project, NewsRank.</p>
        <h3>Team Members</h3>
        <ul>
          <li>Ronald Ishak - Team Lead</li>
          <li>Alec Ashford</li>
          <li>Andrew Koines</li>
          <li>Britney Van Valkenberg</li>
          <li>Kris Shanks</li>
        </ul>
        <p>Fork our project on <a href="https://github.com/chorus-frogs-2014/newsrank">Github</a>!</p>

      </div>
    </div>
  </div>

  <div id="fade" class="black_overlay" ng-click="resetAll()"></div>
  </div>
